<launch>
	<!-- arguments -->
	<arg name="pkg" value="$(find intellwheels_gazebo_nav)"/>
	<arg name="world" default="lab2robots"/>


	<include file="$(find intellwheels_gazebo_nav)/launch/robots.launch"/>


	<!-- rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="--display-config $(arg pkg)/rviz/$(arg world).rviz" output="screen"/>

	<!-- gazebo -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="gui_required" value="true"/>
		<arg name="world_name" value="$(arg pkg)/worlds/$(arg world)/$(arg world).world"/>
	</include>

	<!-- map server -->

	<node name="map_server" pkg="map_server" type="map_server" args="$(arg pkg)/worlds/lab.yaml" clear_params="true" output="screen">
			<param name="frame_id" value="robot1_tf/map_nn0"/>
		</node>

	<!-- relay scan data to the same topic so amcl can use it -->
	<group>
		<node name="right_front_rplidar_scan_relay" pkg="topic_tools" type="relay" args="/robot1/right_front_rplidar_scan base_scan"/>
		<node name="left_back_rplidar_scan_relay" pkg="topic_tools" type="relay" args="/robot1/rleft_back_rplidar_scan base_scan"/>
	</group>

	<!-- amcl localization -->
	<node name="loc" pkg="amcl" type="amcl" output="screen">
		<remap from="scan" to="base_scan"/>
		<rosparam file="$(arg pkg)/config/amcl.yaml"/>
	</node>

	
</launch>
