<launch>
	<!-- parameters -->
	<param name="/use_sim_time" value="true"/>

	<!-- rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="--display-config $(find intellwheels)/rviz/config.rviz" output="screen"/>

	<!-- simulator -->
	<node name="stage" pkg="stage_ros_h" type="stageros" args="$(find intellwheels)/worlds/lab.world" output="screen">
		<remap from="base_scan" to="base_scan_sim"/>
		<remap from="cmd_vel" to="cmd_vel_filtered"/>
	</node>
	
	<!-- core -->
	<node name="core" pkg="simulator_stage_jarvis_and_friends" type="jarvis_simulator_and_friends_aux" output="screen">
		<param name="MaxDirectionWheelSpeed" value="90.0"/>
		<param name="std_range" value="0.0"/>
		<param name="BaseFrameId" value="base_footprint"/>
		<param name="DirectionWheelFrameId" value="direction_wheel"/>
		<param name="DisableDirectionWheelFunctionalities" value="true"/>
	</node>

	<!-- map server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find intellwheels)/worlds/lab.yaml" output="screen"/>

	<!-- perfect localization 
	<node name="loc" pkg="pose_stamped_to_tf" type="pose_stamped_to_tf" output="screen">
		<param name="OdomFrameId" value="odom"/>
		<param name="BaseFrameId" value="base_footprint"/>
	</node>-->

	<!-- amcl localization -->
	<node name="loc" pkg="amcl" type="amcl" output="screen">
		<remap from="scan" to="base_scan"/>
		<rosparam file="$(find intellwheels)/config/amcl.yaml"/>
	</node>

	<!-- navigation -->
	<node name="nav" pkg="move_base" type="move_base" output="screen">
		<rosparam file="$(find intellwheels)/config/nav.yaml"/>
		<rosparam file="$(find intellwheels)/config/global_planner.yaml"/>
		<rosparam file="$(find intellwheels)/config/local_planner.yaml"/>
		<rosparam ns="local_costmap" file="$(find intellwheels)/config/common_costmap.yaml"/>
		<rosparam ns="global_costmap" file="$(find intellwheels)/config/common_costmap.yaml"/>
		<rosparam file="$(find intellwheels)/config/local_costmap.yaml"/>
		<rosparam file="$(find intellwheels)/config/global_costmap.yaml"/>
	</node>	
</launch>
