<launch>
	<!-- parameters -->
	<param name="/use_sim_time" value="true"/>

	<!-- rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="--display-config $(find intellwheels)/rviz/config.rviz" output="screen"/>

	<!-- simulator -->
	<node name="stage" pkg="stage_ros" type="stageros" args="$(find intellwheels)/worlds/lab.world" output="screen"/>

	<!-- map server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find intellwheels)/worlds/lab.yaml" output="screen"/>

	<!-- amcl localization -->
	<node name="loc" pkg="amcl" type="amcl" output="screen">
		<remap from="scan" to="base_scan"/>
		<rosparam file="$(find intellwheels)/config/amcl.yaml"/>
	</node>

	<!-- navigation -->
	<node name="nav" pkg="move_base" type="move_base" output="screen">
		<rosparam file="$(find intellwheels)/config/nav.yaml"/>
		<rosparam file="$(find intellwheels)/config/global_planner.yaml"/>
		<rosparam file="$(find intellwheels)/config/local_planner.yaml"/>
		<rosparam ns="local_costmap" file="$(find intellwheels)/config/common_costmap.yaml"/>
		<rosparam ns="global_costmap" file="$(find intellwheels)/config/common_costmap.yaml"/>
		<rosparam file="$(find intellwheels)/config/local_costmap.yaml"/>
		<rosparam file="$(find intellwheels)/config/global_costmap.yaml"/>
	</node>	
</launch>
