<launch>
	<!-- wheelchair spawner -->
	<include file="$(find intellwheels_desc)/launch/wheelchair.launch"/>

	<!-- gazebo -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="verbose" value="true"/>
		<arg name="gui_required" value="true"/>
		<arg name="world_name" value="$(find intellwheels_nav)/worlds/lab.gazebo.world"/>
	</include>

	<!-- manual control -->
	<node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering"/>
</launch>
