<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="base">

		<xacro:property name="dimX" value="0.45"/> <!-- sem as rodas -->
		<xacro:property name="dimY" value="1.30"/> <!-- com as rodas pequenas -->
		<xacro:property name="dimZ" value="1.00"/> <!-- sem o apoio da cabeca -->
		<xacro:property name="height" value="0.17"/> <!-- A origem da base.dae esta' no meio dos centros das rodas grandes-->

		<link name="base_footprint"/>

		<link name="base_link">
			<inertial>
				<mass value="145"/>
				<inertia
					ixx="3.64053" ixy="-0.06186" ixz="-0.00036"
					iyy="2.77052" iyz="0.35856"
					izz="0.20333"/>
			</inertial>

			<visual>
				<origin rpy="0 0 ${-PI/2}" />
				<geometry>
					<mesh filename="package://intellwheels_desc/meshes/base.dae"/>
				</geometry>
			</visual>

			<collision>
				<origin xyz="0 0 ${dimZ/1.7}" rpy="0.2 0 ${-PI/2}"/>
				<geometry>
					<box size="${dimX} ${dimY*0.6} ${dimZ/1.3}"/>
				</geometry>
			</collision>

			<collision>
				<origin xyz="${dimX/1.2} 0 0.08" rpy="0 0 ${-PI/2}"/>
				<geometry>
					<box size="0.6 0.6 0.25"/>
				</geometry>
			</collision>
		</link>

		<joint name="base_joint" type="fixed">
			<parent link="base_footprint"/>
			<child link="base_link" />
			<origin xyz="0 0 ${height}"/>
		</joint>

	</xacro:macro>

</robot>
