<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	
	<xacro:macro name="caster" params="prefix right:=0 back:=0">
		<xacro:caster_arm prefix="${prefix}" right="${right}" back="${back}"/>
		<xacro:caster_wheel prefix="${prefix}" right="${right}" back="${back}"/>
	</xacro:macro>
	
</robot>
