<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- Intel RealSense LiDAR Camera L515 -->
	<xacro:macro name="realsense" params="prefix right:=0 back:=0">

		<xacro:property name="left" value="${1 - right}"/>
		<xacro:property name="front" value="${1 - back}"/>

		<link name="${prefix}_realsense_optical_link"/>

		<link name="${prefix}_realsense_link">
			<inertial>
				<mass value="1"/>
				<xacro:insert_block name="default_inertia"/>
			</inertial>

			<visual>
				<geometry>
					<cylinder radius="0.0305" length="0.026"/>
				</geometry>
			</visual>
		</link>

		<joint name="${prefix}_realsense_joint" type="fixed">
			<origin xyz="${front * 0.435 - back * 0.485} ${left * 0.3 - right * 0.32} -0.15" rpy="0 0 ${back * PI}"/>
			<parent link="base_link"/>
			<child link="${prefix}_realsense_link"/>
		</joint>

		<joint name="${prefix}_realsense_optical_joint" type="fixed">
			<origin rpy="${-PI / 2} 0 ${-PI / 2}"/>
			<parent link="${prefix}_realsense_link"/>
			<child link="${prefix}_realsense_optical_link"/>
		</joint>

	</xacro:macro>

</robot>
