<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="realsense_sensor">
		<gazebo reference="realsense_link">
			<sensor name="realsense" type="depth">
				<update_rate>30</update_rate>
				<camera>
					<horizontal_fov>1.22</horizontal_fov>
					<image>
						<width>640</width>
						<height>480</height>
					</image>
					<clip>
						<near>0.25</near>
						<far>9</far>
					</clip>
				</camera>
				<plugin name="realsense_controller" filename="libgazebo_ros_openni_kinect.so">
					<!-- used only for stereo cameras -->
					<baseline>0</baseline>
					<hackBaseline>0</hackBaseline>

					<!-- topics and naming -->
					<cameraName>realsense</cameraName>
					<imageTopicName>color/image_raw</imageTopicName>
					<cameraInfoTopicName>color/camera_info</cameraInfoTopicName>
					<depthImageTopicName>depth/image_raw</depthImageTopicName>
					<depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
					<pointCloudTopicName>depth/points</pointCloudTopicName>
					<frameName>realsense_optical_link</frameName>

					<!-- same clipping values as sensor -->
					<pointCloudCutoff>0.25</pointCloudCutoff>
					<pointCloudCutoffMax>9</pointCloudCutoffMax>
					
					<!-- camera lens distortion -->
					<distortionK1>0</distortionK1>
					<distortionK2>0</distortionK2>
					<distortionK3>0</distortionK3>
					<distortionT1>0</distortionT1>
					<distortionT2>0</distortionT2>

					<!-- auto computed when set to 0 -->
					<CxPrime>0</CxPrime>
					<Cx>0</Cx>
					<Cy>0</Cy>
					<focalLength>0</focalLength>
				</plugin>
			</sensor>
		</gazebo>
	</xacro:macro>

</robot>
