<launch>
	<!-- arguments -->
	<arg name="pkg" value="$(find intellwheels_desc)"/>

	<!-- parameters -->
	<param name="robot_description" command="xacro '$(arg pkg)/urdf/wheelchair.urdf.xacro'" />

	<node name="joint_pub" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="robot_pub" pkg="robot_state_publisher" type="robot_state_publisher"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg pkg)/rviz/config.rviz"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="verbose" value="true"/>
		<arg name="gui_required" value="true"/>
	</include>

	<!--<node name="spawner" pkg="gazebo_ros" type="spawn_model" args="-file $(arg pkg)/urdf/original.sdf -sdf -model original -y 2"/>-->

	<node name="spawner2" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model wheelchair"/>

	<node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering"/>
</launch>
