<launch>
  <node pkg="intellwheels_rl" type="robot1_dqn.py" name="robot1_dqn" output="screen" >
    <param name="load_model" value="True" />
    <param name="start_from_episode" value="350" />    
    <param name="total_episodes" value="1000" />
    <param name="learning_rate" value="0.00025" /> 
    <param name="chair1_speed" value="0.15" />     
  </node>
</launch>
  
  